/* Common styles */
body{
    margin:0px;
}

strong{
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
}

blue{
    color: #78dafd;
}

a{
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
}

p{
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
}