/* Common nav styles */
.navigation-wrapper{
    /* height: 100px; */
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}

/* Left column styles */
.navigation-wrapper > .left-column{

}

.navigation-wrapper > .left-column > .banner-image{

}

.navigation-wrapper > .left-column > .banner-image img{
    width: 200px;
    height: 100%;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    
}

.navigation-wrapper > .center-column > .heading{
    color: #f4e187;
    margin: 0px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
}

.navigation-wrapper > .center-column > .links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navigation-wrapper > .center-column > .links-wrapper > .nav-links{
    margin-right: 15px;
}

.navigation-wrapper > .center-column > .links-wrapper > .nav-links a{
    color:white;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
}

/* Right column styles */
.navigation-wrapper > .right-column{

}

.navigation-wrapper > .right-column > .links-wrapper{
    display: flex;
    height: 75px;
}

.navigation-wrapper > .right-column > .links-wrapper > .right-link{
    height: 100%;
}

.navigation-wrapper > .right-column > .links-wrapper > .right-link a{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #36383f;
    color: white;
    font-size: 1.75em;
    border: 1px solid #36383f;
    outline: none;
    text-decoration:none;
    border-radius: 5px;
}

.navigation-wrapper > .right-column > .links-wrapper > .icon{
    font-size: 1.5em;
    
}

.navigation-wrapper > .right-column > .links-wrapper > .icon i{
    color: #7b7e8b;
    font-size: 2em;
}