/* Page container style */
.page-container{
    background-color: #36383f;
    box-shadow: -800px -200px 150px rgba(0, 0, 0, 0.5) inset;
}

.page-container > .content-wrapper{
    padding: 40px 0 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

/* left column */
.page-container > .content-wrapper > .left-column > .content-text > .head{
    font-size: 3.25em;
    color: rgb(255, 255, 255, 0.8);
}

.page-container > .content-wrapper > .left-column > .content-text > .head i{
    color: #ffd05e;
}

.page-container > .content-wrapper > .left-column > .content-text p{
    font-size: 2.85em;
    color: rgb(255, 255, 255, 0.5);
}

.page-container > .content-wrapper .left-column > .page-links-wrapper{
    width: 850px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-container > .content-wrapper .left-column > .page-links-wrapper a{
    text-decoration: none;
    font-size: 3.25em;
    border-radius: 5px;
    padding: 20px 50px;
}

.page-container > .content-wrapper .left-column > .page-links-wrapper > #sign-link{
    background-color: #4bce79;
    color: #000000;
}

.page-container > .content-wrapper .left-column > .page-links-wrapper > #learn-link{
    background-color: #000000;
    color: white;
}

/* right column */
.page-container > .content-wrapper > .right-column {
    margin-left: 130px;
}

.page-container > .content-wrapper > .right-column .title{
    color: white;
}

.page-container > .content-wrapper > .right-column > .image img{
    height: 665px;
    width: 100%;
}